<nav class="navbar navbar-expand navbar-dark bg-primary">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/acerca-de">Acerca de</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/top-vendidas">Top Vendidas</a>
        </li>
    </ul>
    <ul class="navbar-nav mr-2">

        <% if (session && session.cliente) { %>
            <li class="nav-item my-auto">
                <span class="px-2 text-white">
        <%=session.cliente.nombre%></span>
            </li>
            <li class="nav-item">
                <a class="btn btn-light mx-2" href="/mis-ordenes">Mis 贸rdenes</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-light mx-2" href="/lista-deseo"><i class="fas fa-list-ul"></i></a>
            </li>
            <li class="nav-item">
                <a class="btn btn-light mx-2" href="/carro-de-compra"><i class="fas fa-cart-plus"></i><span class="badge">
          <%=(session.carroCompra) ? session.carroCompra.length : 0%></span></a>
            </li>
            <li class="nav-item">
                <a class="btn btn-light mx-2" href="/cerrar-sesion">Cerrar Sesi贸n</a>
            </li>


            <% } else if (session && session.admin) { %>
                <li class="nav-item my-auto">
                    <span class="px-2 text-white">
        <strong>ADMIN:</strong>
        <%=session.admin.nombre%></span>
                </li>
                <li class="nav-item">
                    <a class="btn btn-light mx-2" href="/admin/clientes">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-light mx-2" href="/admin/administradores">Administradores</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-light mx-2" href="/admin/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-light mx-2" href="/admin/cerrar-sesion">Cerrar Sesi贸n</a>
                </li>

                <% } else { %>
                    <li class="nav-item">
                        <a class="btn btn-light" href="/registro">Registro</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-light mx-2" href="/inicio-sesion">Inicio de Sesi贸n</a>
                    </li>
                    <% } %>
    </ul>
</nav>
