<div class="row">
    <div class="col-md-12">
        <% flash.get('mensaje').forEach(function (msg) { %>
            <div class="alert alert-info text-center" role="alert">
                <%=msg%>
            </div>
            <% }) %>
    </div>
</div>
<div class="row">
    <% total.forEach( t => { %>
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header bg-info text-white">
                    Cantidad total de
                    <%=t.tipo%>
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        <%=t.total%>
                    </p>
                </div>
            </div>
        </div>
        <% }) %>
</div>
